.blue {
    background-color: aqua;
}

.red {
    background-color: rgb(242, 167, 167);
}

#match-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alliance-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center;
    margin: 0 1rem; */
}

.score-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
    font-size: 16rem;
    font-weight: 600
}

.team-number-div {
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-div {
    font-size: 3rem;
    flex: auto;
    flex-grow: 1;
}

.timer-div {
    font-size: 4rem;
    flex: auto;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600
}

.rp-div {
    font-size: 3rem;
    letter-spacing: 0.4em;
}