[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
flask = "*"
flask-login = "*"
mariadb = "*"
gunicorn = "*"
colorama = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "*"
