body {
    background-color: #000000;
    height: 100vh;
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; */
}

.btn {
    width: 100%;
}

.count-btn {
    height: 70%;
}


.decrease-btn {
    height: 70%;
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;

}

.decrease-btn.active {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.switch-btn {
    height: 80%;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    color: white;
    font-size: 3rem;
    /* margin-bottom: 1rem; */
}

.select-group {
    /* color: white; */
    font-size: 2rem;
    flex-direction: column;
    /* background-color: gray; */
}

.select-label {
    width: 100%;
    height: 30%;
    color: white;
    font-size: 1.5rem;
    /* flex-direction: column; */
    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: var(--bs-border-radius-lg);
    border-top-right-radius: var(--bs-border-radius-lg);
}

.select-btn-group {
    height: 40%;
    /* overflow-x: hidden; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select-btn-group button {
    padding-left: 0;
    padding-right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* --bs-btn-padding-x: auto; */
}

.form-group label {
    color: white;
    font-size: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}