body {
    background-color: #000000;
    height: 100vh;
}

.container-fluid {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));

    justify-content: center;
}