body {
    background-color: #000000;
    height: 100vh;
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; */
}

.btn {
    width: 100%;
}

.select-btn-group {
    height: 70%;
}

.count-btn {
    height: 70%;
}


.decrease-btn {
    height: 70%;
}

.switch-btn {
    height: 80%;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    color: white;
    font-size: 2rem;
    /* margin-bottom: 1rem; */
}